LabManagement/obj/
LabManagmentWPF/obj/
LabManagementWeb/obj/
LabManagmentWPF/bin/
packages/
.vs/
LabManagementWeb/bin/LabManagementWeb.dll
LabManagementWeb/bin/LabManagementWeb.pdb
LabManagementWeb/bin/
