LabManagement/obj/
LabManagement/bin/
LabManagmentWPF/obj/
LabManagementWeb/obj/
LabManagmentWPF/bin/
LabManagmentWPF/obj/
packages/
.vs/
LabManagementWeb/bin/LabManagementWeb.dll
LabManagementWeb/bin/LabManagementWeb.pdb
