@{
    ViewBag.Title = "Home Page";
}
<span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776;</span>
<div class="jumbotron">
    <h1>Lab Management</h1>
    <p class="lead">Here to help you manage your lab.</p>
</div>