@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab Management</h1>
    <p class="lead">Lab Mangement is a web based Lab management system</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Just select the option that you want from the menu above
        </p>
        </div>
</div>